.kingster-body .logo {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  line-height: 50px;
}

.kingster-body .logo span {
  color: #173269;
  font-weight: 900;
}

.flex-center-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
          justify-content: center;
}

.kingster-logo-inner a {
  line-height: 46px;
  font-size: 24px;
}

.about-us-title {
  margin-bottom: 20px;
}

.about-us-text {
  max-width: 700px;
  margin: auto;
  text-align: justify;
  color: #6b6b6b;
}

.materials-heading {
  padding-top: 30px !important;
}

.about-us-container {
  margin-top: 10px !important;
}

.about-project,
.about-project-text {
  color: #e6e6e6 !important;
}

.button-container {
  text-align: center;
}

.button-container button {
  position: relative;
  top: -10px;
}

.login__reminder-text {
  display: block;
  text-align: center;
  margin: 20px 0;
}

.additem-btn {
  padding: 10px;
  margin-left: 20px;
}

.title-container {
  display: flex !important;
  float: none !important;
  
  justify-content: space-between;
}

.addnew-btn {
  padding: 10px;
}

.tableBtn {
  padding: 10px;
}